* {
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

.link {
	color: black;
	cursor: pointer;
}

/*used in menu */
.swf {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;
} 

div#wait {
	position: absolute;
	top: 30%;
	left: 42%;
	visibility: hidden;
}

div#mainMenu {
	height: 32px; /*
	position: absolute;
	right: 0;
	top: 0px;
	width: 100%;
	height: 32px;*/
}

div#divUploadTarget {
	display: none;
}


div#menuBar {
	position: absolute;
	top: 40px;
	width: 270px;
    left: 0px;
	height: 96%;
	background-color: #7AC3FA;
	background-image: url('../images/whiteToBlue.jpg');
	/*
    float:left;
    top: 40px;
	width: 250px;
	*/
}

div#divInputContainer {
	left: 0;
	height: 95%;
	overflow: hidden;
	width: 270px;
}

div#divSimControlPanel {
	position: absolute;
	/*height: 5%;*/
	bottom: 5px;
	left: 0px;
}

  div#cytoscapeweb {
	position: absolute;
	/*left : 271px; */
	height: 96%;
	top: 4%;
	/*width: 82%;
 */} 
 
div#divPhantomBar {
	height: 96%;
}

div#divVertBar {
	height: 96%;
}

div#obs {
 	position: absolute;
/* 	right : 0px;
 */	height: 96%;
	top: 4%;
	/* width: 41%; */ 
	background: lightblue;
	/*visibility: hidden;*/
}

.rowSelected {
	background: lightyellow;
}

.scroll-track {
	height: 10px;
	width: 15px;
	background: lightblue;
}

.scroll-handle {
	border: 1px solid black;
	height: 10px;
	width: 15px;
	background: #5B207B;
	cursor: pointer;
}

/* of the define edge form */
#target,#source,#interaction {
	width: 230px;
}

#addNodeForm {
	position: absolute;
	top: 20px;
	left: 0px;
}

#removeNodeForm {
	position: absolute;
	top: 20px;
	left: 80px;
}

#addEdgeForm {
	position: absolute;
	top: 40px;
	left: 0px;
}

#removeEdgeForm {
	position: absolute;
	top: 40px;
	left: 80px;
}

#spanStartValues {
	position: absolute;
	top: 60px;
}

html,body {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	width: 100%;
	height: 100%;
}

ul#tabs {
	list-style-type: none;
	margin: 30px 0 0 0;
	padding: 0 0 0.3em 0;
}

ul#tabs li {
	display: inline;
}

ul#tabs li a {
	color: #42454a;
	background-color: #dedbde;
	border: 1px solid #c9c3ba;
	border-bottom: none;
	padding: 0.3em;
	text-decoration: none;
}

ul#tabs li a:hover {
	background-color: #f1f0ee;
}

ul#tabs li a.selected {
	color: #000;
	background-color: #f1f0ee;
	font-weight: bold;
	padding: 0.7em 0.3em 0.38em 0.3em;
}

/* div.tabContent {
	position: relative;
	border: 1px solid #c9c3ba;
	background-color: #f1f0ee;
	width: 100%;
	height: 100%;
}

Cannot use display:none as this would unload the flash component
Switchting position to absolute would the flash component reload
div.tabContentHide {
	position: relative; 
	border: 1px solid #c9c3ba;
	padding: 0.5em;
	background-color: #f1f0ee;
	
	width: 0%;
	height: 0%;
	left: -3200px;
} */